{% extends ':Admin/Form:base_form_layout.html.twig' %}

{% block title course.institution.name ~ ' | ' ~ 'admin.course.title'|trans({'%courseTitle%': course.title}) ~ ' | ' ~ 'admin.folder.create.title'|trans %}

{% block form_title %}
    <a href="{{ path('admin_course_list', {'institution': course.institution.id}) }}">{{ course.institution.name }}</a>
    | <a href="{{ path('admin_folder_list', {'course': course.id}) }}">{{ 'admin.course.title'|trans({'%courseTitle%': course.title}) }}</a>
    | {{ 'admin.folder.create.title'|trans }}
{% endblock form_title %}

{% block goback_link path('admin_folder_list', {'course': course.id}) %}
