{% extends ':Admin/Form:base_form_layout.html.twig' %}

{% block title %}
    {{ institution.name }} | {{ 'admin.cohort.title'|trans({'%cohortTitle%': cohort.title}) }} | {{ 'admin.cohort.assign_courses.title'|trans({'%cohortTitle%': cohort.title}) }}
{% endblock title %}

{% block form_title %}
    <a href="{{ path('admin_cohort_list', { 'institution': institution.id }) }}">{{ institution.name }}</a>
    | <a href="{{ path('admin_cohort_course_list', {'institution': institution.id, 'cohort': cohort.id}) }}">{{ 'admin.cohort.title'|trans({'%cohortTitle%': cohort.title}) }}</a>
    | {{ 'admin.cohort.assign_courses.title'|trans }}
{% endblock form_title %}

{% block goback_link path('admin_cohort_course_list', { 'institution': institution.id, 'cohort': cohort.id }) %}
