{% extends ':Admin/Form:base_form_layout.html.twig' %}

{% block title %}
    {{ institution.name }} | {{ 'admin.cohort.create.title'|trans }}
{% endblock title %}

{% block form_title %}
    <a href="{{ path('admin_cohort_list', {'institution': institution.id}) }}">{{ institution.name }}</a>
    | {{ 'admin.cohort.create.title'|trans }}
{% endblock form_title %}

{% block goback_link path('admin_cohort_list', {'institution': institution.id}) %}
