{% extends '::base.html.twig' %}

{% block title institution.name ~ ': ' ~ 'admin.cohort.title'|trans %}

{% import ':Admin/Common:macro.html.twig' as macro %}

{% block content %}
    <h1>
        <a href="{{ path('admin_institution_list') }}">{{ institution.name }}</a>: {{ 'admin.cohort.title'|trans }}
        <span class="pull-right">
            <a class="btn btn-primary" href="{{ path('admin_cohort_create', {'institution': institution.id}) }}">
                {{ 'admin.cohort.create.link'|trans }}
            </a>
        </span>
    </h1>
    <hr>
    {% if cohorts is empty %}
        <div class="alert alert-info">{{ 'admin.cohort.no-result'|trans }}</div>
    {% else %}
        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th class="col-md-8">{{ 'admin.cohort.column.title'|trans }}</th>
                <th class="col-md-2"></th>
            </tr>
            </thead>
            <tbody>
            {% for cohort in cohorts %}
                <tr>
                    <td>{{ cohort.title }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <a href="{{ path('admin_cohort_update', {'institution': institution.id, 'cohort': cohort.id}) }}" class="btn btn-default btn-sm">
                                {{ 'admin.cohort.action.update'|trans }}
                            </a>
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    {{ macro.delete_button(
                                        path('admin_cohort_delete', { 'institution': institution.id, 'cohort': cohort.id }),
                                        'admin.cohort.action.delete'|trans,
                                        { 'class': 'btn btn-default btn-sm', 'data-confirm': 'admin.cohort.action.confirmDelete'|trans })
                                    }}
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
