{% extends '::base.html.twig' %}

{% block title course.institution.name ~ ' | ' ~ 'admin.course.title'|trans({'%courseTitle%': course.title}) ~ ' | ' ~ 'admin.session.preview.title'|trans({'%sessionTitle%': session.title}) %}

{% block content %}
    <style>
        .preview {
            background: grey;
            padding: 20px;
        }

        .preview .content {
            width: 400px;
            margin: auto;
            background: white;
            padding: 20px;
        }

        .preview .content img {
            width: 100%;
        }
    </style>

    <h2>
        <a href="{{ path('admin_course_list', {'institution': course.institution.id}) }}">{{ course.institution.name }}</a>
        | <a href="{{ path('admin_session_list', {'course': course.id}) }}">{{ 'admin.course.title'|trans({'%courseTitle%': course.title}) }}</a>
        | {{ session.title }}
    </h2>

    <hr>

    <div class="preview">
        <div class="content">
        <h1 style="margin-top: 0">{{ session.title }}</h1>

        {{ session.content|raw }}
        </div>
    </div>
{% endblock %}
