{% extends '::base.html.twig' %}

{% block title 'admin.session.title'|trans({'%courseTitle%': course.title}) %}

{% import ':Admin/Common:macro.html.twig' as macro %}

{% block content %}
    <h1>
        {{ 'admin.session.progression.title'|trans({'%sessionTitle%': session.title}) }}
    </h1>
    <hr>
    <div class="col-md-7">
        <h2>{{ 'admin.session.progression.usersValidated.title'|trans }}</h2>
        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th class="col-md-3">{{ 'admin.session.progression.validated.column.lastName'|trans }}</th>
                <th class="col-md-3">{{ 'admin.session.progression.validated.column.firstName'|trans }}</th>
                <th class="col-md-3">{{ 'admin.session.progression.validated.column.phoneNumber'|trans }}</th>
                <th class="col-md-1">{{ 'admin.session.progression.validated.column.medium'|trans }}</th>
                <th class="col-md-2">{{ 'admin.session.progression.validated.column.validatedAt'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in progressionList.usersValidated %}
                <tr>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.phoneNumber }}</td>
                    <td>{{ ('admin.session.progression.medium.' ~ user.medium)|trans }}</td>
                    <td>{{ user.validatedAt|localizeddate('medium', 'short') }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">
                        {{ 'admin.session.progression.no-result'|trans }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-5">
        <h2>{{ 'admin.session.progression.usersNotValidated.title'|trans }}</h2>
        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th class="col-md-4">{{ 'admin.session.progression.notValidated.column.lastName'|trans }}</th>
                <th class="col-md-4">{{ 'admin.session.progression.notValidated.column.firstName'|trans }}</th>
                <th class="col-md-4">{{ 'admin.session.progression.notValidated.column.phoneNumber'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in progressionList.usersNotValidated %}
                <tr>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.phoneNumber }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="text-center">
                        {{ 'admin.session.progression.no-result'|trans }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
